@page "/Error"
@using System.Diagnostics

<PageTitle>Ошибка</PageTitle>

<h1 class="text-danger">Произошла ошибка</h1>
<p class="text-danger">При обработке запроса возникла ошибка.</p>

@if (ShowRequestId)
{
    <p><strong>Request ID:</strong> <code>@RequestId</code></p>
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
