<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WorkTimeTracker</a>
    </div>
</div>

<nav class="nav flex-column">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Главная</NavLink>
    <NavLink class="nav-link" href="stations">Станции</NavLink>
    <NavLink class="nav-link" href="employees">Сотрудники</NavLink>
    <NavLink class="nav-link" href="sessions">RDP-сессии</NavLink>
    <NavLink class="nav-link" href="screenshots">Скриншоты</NavLink>
</nav>
